@model IEnumerable<RugbyApp.Models.Juniors.JuniorsDetails>
@{
    ViewBag.Title = "Home Page";
}
<div class="item">
    <h1>Simply Rugby app</h1>
</div>

<div class="Content">
    Simply Rugby is a branch within the Scottish Rugby Union who aim to provide opportunities to people of all ages & genders.
    The club have a set of different teams, from Junior ages (like U12’s & U16’s) to players.<br />
    <br>Simply Rugby is widely popular for its membership bases, involving players and people such as spectators or coaches (non-playing members).
    Simply Rugby aims to provide rugby to all, but this isn’t where the buck stops – they will try to develop a player to his or her maximum potential.<br />
    <br>Coaches within Simply Rugby must keep all personal details about players up to date (such as parent or guardian), in case of an emergency.
    <br>Rugby can be a rough sport, and injuries can happen so having details which could include the name, phone number and address of the parent, guardian or next of kin would be critical.<br />
    Health problems should also be noted – and any medication that the player takes or even needs to take during the session.
    Simply Rugby employs people to arrange the dates and important details about fixtures. This will be then passed down to the coaches and then the players.
</div>
